player-connection-mode=Listen
player-connection-guid=3245829736
player-connection-debug=0
player-connection-project-name=AdaptiveRL
player-connection-ip=192.168.0.173
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5e3772d8deed4057873f3866646dce10
dedicatedServer-port=7777
dedicatedServer-framerate=30
dedicatedServer-logpath=logs
dedicatedServer-queryport=20000
dedicatedServer-querytype=SQP
dedicatedServer-argument-error-policy=1
